<div class="account-contact">
  <h1>Contact Us</h1>
  <p>If you have questions, please contact us via the form below:</p>
</div>


{% schema %}
  {
    "name": "Account Contact",
    "settings": []
  }
{% endschema %}