.why-choose-allura-section {
  position: relative;
}

.why-choose-allura__title {
  font-family: Lora, sans-serif;
  font-size: 24px;
  line-height: 32px;
  color: #1E1E1E;
  margin-bottom: 32px;
  letter-spacing: 0;
  position: relative;
  z-index: 2;
}

.why-choose-allura-section .table-container {
  border-radius: 8px;
  position: relative;
  z-index: 2;
}

.why-choose-allura__table {
  -moz-border-radius: 8px;
  border-radius: 8px;
  border-collapse: separate;
  border-spacing: 8px 0;
}

.why-choose-allura-section tr {
  border: none;
}

.why-choose-allura-section tr + tr td:not(:first-child) {
  position: relative;
}

.why-choose-allura-section tr + tr td:not(:first-child):before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 55%;
  height: 0.5px;
  transform: translateX(-50%);
  background-color: rgba(40, 84, 69, 0.5);
}

.why-choose-allura__table th:first-child { 
  -moz-border-radius: 8px 0 0 0;
  border-radius: 8px 0 0 0;
}
.why-choose-allura__table th:last-child { 
  -moz-border-radius: 0 8px 0 0;
  border-radius: 0 8px 0 0;
}

.why-choose-allura__table tr:last-child td:first-child { 
  -moz-border-radius: 0 0 0 8px;
  border-radius: 0 0 0 8px;
}
.why-choose-allura__table tr:last-child td:last-child { 
  -moz-border-radius: 0 0 8px 0;
  border-radius: 0 0 8px 0;
}

.why-choose-allura-section th,
.why-choose-allura-section td {
  width: 23%;
  padding: 8px 19px;
  color: #1E1E1E;
  font-family: Nunito Sans, sans-serif;
  font-size: 12px;
  letter-spacing: 0;
}

  .why-choose-allura-section td:first-child, 
  .why-choose-allura-section th:first-child {
    border-left: none;
  }

  .why-choose-allura-section th:first-child,
  .why-choose-allura-section td:first-child {
    width: 32%;
    padding: 6.5px 2px 6.5px 52px;
  }

  .why-choose-allura-section th {
    text-align: center;
    border: none;
    height: 73px;
    line-height: 24px;
  }

  .why-choose-allura-section th:not(:first-child) {
   border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }

  .why-choose-allura-section tr:last-child td:not(:first-child) {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
  }

  .why-choose-allura-section td {
    line-height: 1.3;
    height: 57px;
  }

  .why-choose-allura-section td p {
      margin-bottom: 0;
      font-family: Nunito Sans, sans-serif;
  }

  .why-choose-allura-section td.main-text {
    padding-left: 52px;
    position: relative;
  }

  .why-choose-allura-section td:not(.main-text) {
    text-align: center;
  }

  .why-choose-allura_row-icon {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 50%;
    left: 2px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .why-choose-allura__cell-icon {
    position: relative;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
  }

  .why-choose-allura__cell-icon svg {
    width: 15px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @media screen and (min-width: 768px) {
    .why-choose-allura-section th,
    .why-choose-allura-section td {
      font-size: 16px;
    }

    .why-choose-allura-section th {
      line-height: 24px;
    }

    .why-choose-allura-section td {
     line-height: 1.35;
    }
  }

  @media screen and (min-width: 1024px) {
    .why-choose-allura-section:before {
      width: 576px;
      height: 550px;
    }

    .why-choose-allura__title {
      font-size: 32px;
      line-height: 44px;
    }
  }

  @media screen and (max-width: 768px) {
    .why-choose-allura-section.page-width {
      padding-right: 16px;
      padding-left: 16px;
    }

   .why-choose-allura-section.page-width .table-column {
      padding: 0;
    }
  }

  @media screen and (max-width: 767px) {
    .why-choose-allura-section.page-width {
      padding-right: 0;
    }

    .why-choose-allura-section .table-column {
      padding-right: 0;
    }

    .why-choose-allura-section .table-container {
      overflow-x: auto;
      max-width: 100%;
    }

    .why-choose-allura-section table {
      min-width: 555px;
      margin-right: 7.5px;
    }

    .why-choose-allura-section th:first-child, 
    .why-choose-allura-section td:first-child {
      width: 37%;
      min-width: 177px;
    }

    .why-choose-allura-section th:not(:first-child),
    .why-choose-allura-section td:not(:first-child) {
      width: 22%;
      min-width: 122px;    }

    .why-choose-allura-section th, 
    .why-choose-allura-section td {
      padding: 12px 13px;
    }
  }